{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ava AI</title>
    <link rel="shortcut icon" href="{% static 'aide_ai.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<style>
  #transcript2{
    color: whitesmoke;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
  }
</style>

<script>

function ChangeImage() {
  document.getElementById('Click').src = "{% static 'button_on.png' %}"
}

function startDictation() {

    if (window.hasOwnProperty('webkitSpeechRecognition')) {

//      var recognition = new webkitSpeechRecognition();
      const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
      var recognition = new SpeechRecognition();

      recognition.continuous = true;
      recognition.interimResults = false;

      recognition.lang = "en-IN";
//      recognition.lang = "hi-IN";
      recognition.start();

      recognition.onresult = function(e) {
      var query = e.results[0][0].transcript;
      document.getElementById('transcript2').innerHTML = query;
      document.getElementById('transcript_query').value = query;
      recognition.stop();

//  CheckBox Button    
      var lang_model = document.getElementById('CheckBox').checked;
      document.getElementById('Language_Select').value = lang_model;
      document.forms["query_form"].submit();
      };
    
      recognition.onstart = function() {
        document.getElementById('transcript2').innerHTML = "Listening...";
        if(window.location.href == 'http://127.0.0.1:8000/' || window.location.href == 'http://192.168.1.102:8000/'){
          document.getElementById('transcript1').remove();
        }
      }

      recognition.onerror = function(e) {
        recognition.stop();
        speechSay('Did not hear anything','false');
        location.replace('http://127.0.0.1:8000/');
      }

    }
  }


  function speechSay(message,lange){

    const speech = new SpeechSynthesisUtterance(message);
    // Set the text and voice attributes.
    var voices = speechSynthesis.getVoices();
  
    if(lange=='false'){
      console.log("HERE");
   /*   speech.voice = voices[5];
      speech.lang = 'en-GB';*/
    }
    else{
      speech.voice = voices[10];
      speech.lang = 'hi-IN';
    }
  
    speech.volume = 2;
    speech.rate = 1;
    speech.pitch = 1;
  
    if(window.location.href != 'http://127.0.0.1:8000/'){
      speech.onend = function() {
        startDictation();
      }
    }
  
    speechSynthesis.speak(speech);
    if(speech.text == 'Goodbye'){
      location.replace('http://127.0.0.1:8000/');
      }
    else if(speech.text == 'alvida'){
        location.replace('http://127.0.0.1:8000/');
      }
    }

  
function HomePage(){
  localStorage.setItem("counter",0);
  speechSynthesis.cancel();
  speechSay('Goodbye','false');
  location.replace('http://127.0.0.1:8000/');
}

    </script>
</head>


<body>

    <img src="{% static 'dbit.png' %}" width="160vh" height="160vh" class="imagePos">

    <div class="header" >
    <ul style="list-style-type: none;">
        <li class="textHeader1">Don Bosco Institute of Technology</li>
        <li class="textHeader2">Ava - The Admission Voice Assisted Chatbot</li>
    </ul>
    </div>
    
    <p style="position:absolute;left: 84.5%;top:20vh;color: white;font-size: 1.1vw;font-family: Arial, Helvetica, sans-serif;">English </p>
    <p style="position:absolute;left: 92.5%;top:20vh;color: white;font-size: 1.1vw;font-family: Arial, Helvetica, sans-serif;">Hindi </p>
    <label class="switch">
      <script>
        if('{{Lang}}' == 'true'){
          document.write('<input type="checkbox" id="CheckBox" checked>');
          document.write('<span class="slider round"></span>');
        }
        else{
          document.write('<input type="checkbox" id="CheckBox">');
          document.write('<span class="slider round"></span>'); 
        }
//        <input type="checkbox" id="CheckBox">
//        <span class="slider round"></span>
      </script>
    </label>

    <div class="center">
      <script>
        if(window.location.href == 'http://127.0.0.1:8000/' || window.location.href == 'http://192.168.1.102:8000/'){
          document.write("<input type='image' src='{% static 'button_off.png' %}' id='Click' onclick='ChangeImage();startDictation();' width='25%' height='25%'>");
          localStorage.setItem("counter",1);
        }
        else if(localStorage.getItem("counter") == 1){
          document.write("<input type='image' src='{% static 'button_on.png' %}' id='Click' onclick='HomePage();' width='25%' height='25%'>");
        }
      </script>
    </div>
    <div class='circle' style='animation-delay: 0s'></div>
    <div class='circle' style='animation-delay: 0.5s'></div>
    <div class='circle' style='animation-delay: 1s'></div>

    <script>
      if(window.location.href == 'http://127.0.0.1:8000/' || window.location.href == 'http://192.168.1.102:8000/'){
        document.write("<p id='transcript1' class='Trans'>Click and <strong>Say Something</strong> or <strong>Say Goodbye</strong> to exit</p>");
      }
    </script>
    <p id="transcript2"></p>

    <form name="query_form" method="GET" action="{% url 'Voice' %}">
      {% csrf_token %}
      <input type="hidden" id="Language_Select" name="Language" value="">
      <input type="hidden" id="transcript_query" name="Query_text" value="">
    </form>

    
    {% if '{{Ans}}' and '{{Lang}}' %}
    <p class="Trans_ans">{{Ans}}</p>
    <script>
    speechSay('{{Ans}}','{{Lang}}');
    </script>
    {% endif %}

<footer>© Created by students of DBIT 2017-21</footer>

</body>
</html>