body {
    margin: auto;
    background-image: url(/static/WEB_Wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
    min-width: 1280px;
    user-select: none;
}

.circle {
  border-radius: 50%;
  background-color: deepskyblue;
  top: 39.7vh;
  left: 42.15%;
  width: 16%;
  height: 31.7vh;
  z-index: -1;
  position: absolute;
  opacity: 0;
  animation: scaleIn 3s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

input[type='image'] {
  border-radius: 50%;
  z-index: 2;
  opacity: 0.90;
}

input[type='image']:active {
  outline: none;
}

input[type='image']:focus {
  outline: none;
}

input[type='image']:hover{
  opacity: 1.0;
}

.header {
    background-color: black;
    position: absolute;
    color:white;
    height: 16.5vh;
    width: 100%;
}

.textHeader1{
    font-size: 3vw;
    text-align: center;
}

.textHeader2{
    padding-top: 1.3%;
    font-size: 1.5vw;
    text-align: center;
}

.center{
    padding-left: 43%;
    padding-top: 20%;
}

.imagePos{

    left: 2%;
    top: 1.2vh;
    position: absolute;
    z-index: 1;
}

.Trans_ans{
    color: lightblue;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding-left: 8%;
    padding-right: 8%;
}

.Trans{
    color: whitesmoke;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}

/* Switch */

.switch {
    position: absolute;
    left: 88.5%;
    top: 22vh;
    display: inline-block;
    width: 3.12%;
    height: 3.14vh;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 35, 110);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.3vw;
    width: 1.3vw;
    left: 6px;
    bottom: 7%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(61, 126, 206);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    background-color: black;
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

footer{
  position: absolute;
  top: 94%;
  left: 44%;
  color: whitesmoke;
  font-size: 0.8vw;
  }